{{page-title "Account"}}
<div class="w-75 mx-auto">
    <div class="text-center h3 p-2">Account Summary</div>
    <div class="row p-3">
        <div class="col">Customer ID    : {{@model.data.customer_id}}</div>
        <div class="col">Account Number : {{@model.data.account_number}}</div>
        <div class="col">Balance         : {{@model.data.balance}}</div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="position-sticky">Transaction Time</th>
                <th class="position-sticky">Beneficiary</th>
                <th class="position-sticky">Description</th>
                <th class="position-sticky">Type</th>
                {{!-- <th class="position-sticky">Credit/Debit</th> --}}
                <th class="position-sticky">Amount</th>
                {{!-- <th class="position-sticky">Credit</th>
                <th class="position-sticky">Debit</th> --}}
                <th class="position-sticky">Balance</th>
            </tr>
        </thead>
        {{#if @model.data.transactions}}
        <tbody>
            {{#each @model.data.transactions as |transaction|}}
            <tr>
                <td>{{transaction.txn_time}}</td>
                <td>{{transaction.beneficiary_name}}</td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.type}}</td>
                <td class="text-right">
                {{#if transaction.credit_amount}}
                    {{transaction.credit_amount}}<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 18 18"><path d="M4 14 L11 14 11 12.6 6.8 12.6 13 6.4 11.6 5 5.4 11.2 5.4 7 4 7 Z" style="fill: green" /></svg>
                {{/if}}
                {{#if transaction.debit_amount}}
                    {{transaction.debit_amount}}<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 18 18"><path d="M14 4 L7 4 7 5.4 11.2 5.4 5 11.6 6.4 13 12.6 6.8 12.6 11 14 11 Z" style="fill: red" /></svg>
                {{/if}}
                </td>
                <td>{{transaction.balance}}</td>
            </tr>
            {{/each}}
        </tbody>
        {{/if}}
    </table>
    {{#unless @model.data.transactions}}
    <div class="text-center p-3">
        No transactions to display
    </div>
    {{/unless}}
</div>

{{outlet}}